.body {
    width: 1440px;
}


.link {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
position: relative;
 text-decoration: none; 
}

.link:hover,
.link:focus {
  text-decoration: none; /* Підтвердження для станів hover та focus */
}

.link::after {
  content: ''; 
  position: absolute; 
  left: 50%;
  top: 48px; 
  transform: translateX(-50%); 
  width: 85px; 
  height: 5px; 
  background-color: transparent;
  transition: background-color 0.3s; 
}

.link.active::after {
  background-color: #e44848; 
}

.name {
   
font-weight: 600;
font-size: 24px;
line-height: 1.33;

}

.rating {

font-size: 16px;
line-height: 1.5;
text-decoration: underline;
text-decoration-skip-ink: none;

}

.location {
font-size: 16px;
line-height: 1.5;

}

.price {
font-weight: 600;
font-size: 24px;
line-height: 1.33;
}

.imgContainer {
    display: flex;
    gap: 48px;
    margin-bottom: 28px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.description {
font-size: 16px;
line-height: 1.5;
color: #475467;
margin-bottom: 60px;
}

.navLink {
    display: flex;
    gap: 40px;
    margin-bottom: 44px;
    border-bottom: 1px solid #dadde1;
  padding-bottom: 24px; 
   
}



.bodyContainer {
    padding: 0 64px 80px 64px;
}

.starSvg {
    width: 16px;
height: 16px;
}

.starContainer {
  display: flex;
  gap: 4px;
}